---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Platform from "../components/Platform.astro";
import CTA from "../components/CTA.astro";
import UseCase from "../components/UseCase.astro";
---

<Layout>
 <Hero>
  <div class="hero-content fade-in-up text-center">
    <h1>Coming Soon </h1>
    <p>
      We’re building the most expressive AI voice platform.
      Stay tuned — something powerful is on the way.
    </p>

    <div class="hero-buttons">
      <a href="/" class="btn btn-primary disabled">Launching Soon</a>
    </div>
  </div>
</Hero>


</Layout>